@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hacer Pedidos</h1>
</div>
<form asp-controller="Pedidos" asp-action="PedidoAgregado" method="POST" class="w-25">
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Numero Pedido</span>
    <input type="text" class="form-control" placeholder="numero" aria-label="numero" aria-describedby="basic-addon1" name="numero">
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Obs Pedido</span>
    <input type="text" class="form-control" placeholder="obs" aria-label="obs" aria-describedby="basic-addon1" name="obs">
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Estado Pedido</span>
    <input type="text" class="form-control" placeholder="estado" aria-label="estado" aria-describedby="basic-addon1" name="estado">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>