@model List<Tp4MvcNuevo.Models.Pedido>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Listar Pedidos</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"> Numero de Turno </th>
            <th scope="col"> Obs </th>
            <th scope="col"> Estado </th>
            <th scope="col"> Cliente </th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
            <tr>
                <td scope="row"> @item.Numero </td>
                <td> @item.Obs </td>
                <td> @item.Estado</td>
                @if (item.DatosCliente == null) {
                    <td> - </td>
                } else {
                    <td>@item.DatosCliente.Nombre</td>
                }
            </tr>    
            }

            <a  asp-controller="Pedidos" asp-action="ListarPedidos"> Refrescar </a>
    </tbody>
    
</table>