@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pedido agregado con éxito</h1>
    <a  asp-controller="Pedidos" asp-action="ListarPedidos" > Ver pedidos</a>
</div>
