@model Tp4MvcNuevo.ViewModels.IniciarSesionViewModel;

<div class="text-center">
    <h1 class="display-4">Iniciar Sesi칩n </h1>
</div>
<form asp-controller="Logueo" asp-action="SesionIniciada" method="POST" class="w-50 mx-auto">
    <h2 class="mb-3">Usuario y Contrase침a requeridos</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file-signature"></i></span>
        <input asp-for="@Model.Usuario1" type="text" class="form-control" placeholder="Usuario">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
        <input asp-for="@Model.Pass" type="password" class="form-control" placeholder="Contrase침a">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
</form>