@model Tp4MvcNuevo.ViewModels.MostrarCadeteriaViewModel;

<div class="text-center my-5">
    <h1 class="display-4">Viendo la Cadeteria @Model.Nombre </h1>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col"> Nombre </th>
            <th scope="col"> Teléfono </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> @Model.Nombre </td>
                <td> @Model.Telefono</td>
            </tr>   

            <a  asp-controller="Cadeterias" asp-action="ListarCadeterias"> Ver todas las cadeterías </a>
    </tbody>
    
</table>