@model Tp4MvcNuevo.ViewModels.CargarCadeteViewModel;
@{
    ViewData["Title"] = "Home Page";
}
                                                                                                                                                                        
<div class="text-center">
    <h1 class="display-4">Cargar Cadete</h1>
</div>
<form asp-controller="Cadetes" asp-action="CadeteAgregado" method="POST" class="w-50 mx-auto">
    <h2>Datos Cadete:</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file-signature"></i></span>
        <input name="Nombre" type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
        <input name="Direccion" type="text" class="form-control" placeholder="Dirección">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
        <input name="Telefono" type="text" class="form-control" placeholder="Teléfono">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-money-check-dollar"></i></span>
        <input name="TotalACobrar1" type="text" class="form-control" placeholder="Sueldo">
    </div>
    <h2 class="mt-3">Cadetería</h2>
    <select class="form-select my-3" name="Cadeteria">
        @foreach (var cadeteria in Model.ListaCadeterias1) {
            <option value="@cadeteria.Id">@cadeteria.Nombre</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>